.message {
    width: 100%;
    padding: 1rem;
    border: 1px solid #1f2d3d;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.message svg {
    margin-bottom: -2px;
    margin-bottom: 4px;
}

.success {
    color: #fff;
    background-color: #56a846;
    border-color: #4d9740;
    box-shadow: 2px 2px 10px #4d9740, -2px -2px 10px #ffffff;
}

.error {
    color: #fff;
    background-color: #dd4c45;
    border-color: #c7443e;
    box-shadow: 2px 2px 10px #c7443e, -2px -2px 10px #ffffff;
}

.warning {
    color: #1f2d3d;
    background-color: #fbc11b;
    border-color: #e1ac17;
    box-shadow: 2px 2px 10px #e1ac17, -2px -2px 10px #ffffff;
}