.navbar {
    background-color: #fff;
    box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
    padding: 0.5rem;
}

.logo {
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1rem;
}

.item a {
    color: #6c757d;
    text-decoration: none;
    font-size: 1rem;
}

.item a:hover {
    color: #1f2d3d;
}