.icon svg {
    color: #fff;
}

.list li {
    list-style: none;
    margin-bottom: 1rem;
}

.list li a {
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.list li a span {
    color: #fff;
    padding-left: 10px;
}

.list li:hover a span,
.list li:hover svg {
    color: #50caee;
}