.dashboardScreen {
    display: flex;
    flex-direction: column;
    background-color: #f6f7fb;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbarContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: row;
}

.sideBar {
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    overflow-y: hidden;
    border-right: 1px solid #dee2e6;
    min-height: 100vh;
    padding: 30px;
}

.mainCanvas {
    padding: 1rem;
}

.mainCanvas h1 {
    font-size: 1.8rem;
    font-weight: normal;
}