.footer {
    background-color: #fff;
    box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
    box-shadow:  2px -2px 5px #bebebe, -2px 2px 5px #ffffff;
    padding: 1rem;
}

.copyright {
    text-align: center;
    color: #6c757d;
}